.profile__title-container {
  display: grid;
  max-width: 380px;
  grid-template-areas: "profile__title profile__edit-btn"
                       "profile__description profile__description";
  
  align-items: flex-end;
}