.popup__input {
  outline: 0;
  border: 0;
  background: none;
  min-height: 14px;
  min-width: 100%;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
.popup__input {
  padding-bottom: 11px;
  margin-bottom: 28px;
}
}