.profile__add-btn {
  background-color: transparent;
  min-height: 50px;
  min-width: 150px;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  transition: 0.1s linear;
  background-image: url(../../../images/addvector.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.profile__add-btn:hover {
  opacity: 60%;
}

@media screen and (max-width: 768px) {
  .profile__add-btn {
    min-width: 282px;
    background-size: 16px 16px;
  }
}