.footer {
  max-width: 880px;
  margin: 67px auto 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    margin: 48px auto 36px;
    max-width: 78%;
  }
}

@media (min-width: 901px) and (max-width: 1023px) {
  .footer {
    max-width: 85%;
  }
}